<div id="page-wrapper">
  <br><br>
<div class="col-lg-6">

  <form id="login-form"
    name="signupForm"
    ng-submit="signupForm.$valid && vm.sendSignup(vm.signup)">

    <alert type="danger" ng-show="vm.error">
        {{ vm.error }}
    </alert>

    <div class="form-group">
      <h3 class="text-center"> Sign Up </h3>
      <br>
        <label for="email">E-mail</label>
        <input type="text"
          ng-model="vm.signup.email"
          class="form-control"
          id="email"
          placeholder="Enter e-mail">
        </div>
        <div class="form-group">
          <label for="login-password">Password</label>
          <input type="password"
            ng-model="vm.signup.password"
            class="form-control"
            id="login-password"
            placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-default">Sign Up</button>
        <button ui-sref="login" class="btn btn-default"> Already Registered? Click to Login </button>
</form>
</div>
</div>
