<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{event.name}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Historical Values</h4>
          </div>

          <div class="panel-body">
            <div class="line-chart"
                  line-chart
                  line-post-units=""
                  line-data='chartData'
                  line-xkey='y'
                  line-ykeys='["a", "b"]'
                  line-labels='["Trump", "Clinton"]'
                  line-colors='["red", "blue"]'>
                </div>
          </div>

        </div>

      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Trading Panel</h4>
          </div>

          <div class="panel-body">
            <form name="tradePanel">
              <label for="opt">Selection:</label>
            <select name="opt" ng-model="order.optionChoice">
            <option ng-repeat="option in options" value="{{option}}">{{option}}</option>
          </select>
            <label for="amt">Amount: </label>
            <input name="amt" style="width:50px;" value="100" ng-model="order.amtChoice" />
            <label>Limit: </label>
            <input name="limit" placeholder="< 100" style="width:50px;" ng-model="order.limitChoice"/>
            <button class="btn-success" id="buy" style="float:center" ng-click="submitOrder('buy',order)">Buy</button>
            <button class="btn-danger" id="sell" style="float:center" ng-click="submitOrder('sell',order)">Sell</button>
          </form>
          </div>

        </div>

      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Open Trades</h4>
          </div>

          <div class="panel-body">
            {{openTrades}}
            <table class="table col-md-3">
              <thead>
                <tr>
                  <th>Buy Qty</th>
                  <th>Price</th>
                  <th>Sell Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="value in allValues">
                {{value}}
                </tr>
              </tbody>
            </table>
            <tr></tr>
          </div>

        </div>

      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Trade Stats</h4>

          </div>

          <div class="panel-body">
            <h5>Volume:</h5>
            <h5>Open Trades:</h5>
          </div>

        </div>

      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>User Stats</h4>
          </div>

          <div class="panel-body">

          </div>

        </div>

      </div>

      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Event Description</h4>
          </div>

          <div class="panel-body">
            <p>{{event.desc}}</p>
          </div>

        </div>

      </div>

    </div>

  </div>


</div>
