
<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{event.name}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
              <nvd3 options="options" data="data"></nvd3>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Description</h4>
          </div>
          <div class="panel-body">
          {{event.desc}}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Prediction Deployer</h4>
          </div>

          <div class="panel-body" style='height:200px;'>
            <form name="tradePanel" novalidate>
              <label for="opt">Selection:</label>
            <select name="opt" ng-init="order.optionChoice=guessOptions[0]" ng-model="order.optionChoice" ng-options="option for option in guessOptions" required>{{option}}</select>
            <label for="amt" >&nbsp;&nbsp;Amount: </label>
            <input name="amt" style="width:50px;" ng-model="order.amtChoice" ng-minlength="0" ng-maxlength="1000" placeholder="100" required />&nbsp;&nbsp;
            <button class="btn-success" id="buy" style="float:center" ng-click="submitGuess(order)" ng-disabled="noMoreGuesses()">Submit!</button>
            <br><span ng-show="tradePanel.amt.$touched && tradePanel.amt.$invalid">The amount is required.</span>
            <br><span ng-show="tradePanel.opt.$touched && tradePanel.opt.$invalid">A choice is required.</span>
          </form>
          <button ng-show="userCheck()" ng-click="clearVotes()">Reset Votes</button>
          <h5>Vote Points Remaining: {{guesses}}</h5>
          </div>

        </div>

      </div>

      <div class="col-lg-6">
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h4>Latest Predictions</h4>
          </div>

          <div class="panel-body" style='overflow: auto; height:200px;'>
            <table class="table col-md-3">
              <thead>
                <tr>
                  <th></th>
                  <th>User</th>
                  <th>Choice</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="guess in openGuesses">
                  <th></th>
                <td>{{user.email}}</td>
                <td>{{guess.option}}</td>
                <td>{{guess.amt}}</td>
                </tr>
              </tbody>
            </table>
            <tr></tr>
          </div>

        </div>

      </div>

      <!-- <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Prediction Stats</h4>

          </div>

          <div class="panel-body">
            <h5>Volume: {{openGuesses.length}}</h5>
          </div>

        </div>

      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>User Stats</h4>
          </div>

          <div class="panel-body">

          </div>

        </div>

      </div> -->



    </div>

  </div>


</div>
