<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{event.name}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Historical Values</h4>
          </div>

          <div class="panel-body">
            <!-- <div d3-chart chart-data='myData'></div> -->
              <nvd3 options="options" data="data"></nvd3>
          </div>

        </div>

      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Guess Deployer</h4>
          </div>

          <div class="panel-body">
            <form name="tradePanel" novalidate>
              <label for="opt">Selection:</label>
            <select name="opt" ng-model="order.optionChoice" ng-options="option for option in guessOptions" required>
          </select>
            <label for="amt" >Amount: </label>
            <input name="amt" style="width:50px;" ng-model="order.amtChoice" min="0" placeholder="100" required />
            <button class="btn-success" id="buy" style="float:center" ng-click="submitGuess(order)">Guess!</button>
            <br><span ng-show="tradePanel.amt.$touched && tradePanel.amt.$invalid">The amount is required.</span>
            <br><span ng-show="tradePanel.opt.$invalid">A choice is required.</span>
          </form>
          </div>

        </div>

      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Open Guesses</h4>
          </div>

          <div class="panel-body">
            <table class="table col-md-3">
              <thead>
                <tr>
                  <th>#</th>
                  <th>User</th>
                  <th>Choice</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="guess in openGuesses">
                <th></th>
                <td>User1</td>
                <td>{{guess.option}}</td>
                <td>{{guess.amt}}</td>
                </tr>
              </tbody>
            </table>
            <tr></tr>
          </div>

        </div>

      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Guess Stats</h4>

          </div>

          <div class="panel-body">
            <h5>Volume: {{openGuesses.length}}</h5>
          </div>

        </div>

      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>User Stats</h4>
          </div>

          <div class="panel-body">

          </div>

        </div>

      </div>

      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Event Description</h4>
          </div>

          <div class="panel-body">

          </div>

        </div>

      </div>

    </div>

  </div>


</div>
