
<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{vm.event.name}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
              <nvd3 options="vm.options" data="vm.data"></nvd3>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-default" style='height:200px;'>
          <div class="panel-heading">
            <h4>Prediction Deployer</h4>
          </div>
          <div class="panel-body">
          <form name="tradePanel" ng-submit="vm.submitGuess(vm.order)">
              <label for="opt">Selection:</label>
            <select name="opt"
              ng-init="vm.order.optionChoice = vm.order.optionChoice || vm.guessOptions[0]"
              ng-model="vm.order.optionChoice"
              ng-options="option for option in vm.guessOptions"
              required>
              {{option}}
            </select>
            <label for="amt" >&nbsp;&nbsp;Amount: </label>
            <input name="amt"
              type="number"
              style="width:65px;"
              ng-model="vm.order.amtChoice"
              min="0"
              max="1000"
              placeholder="100"
              required /> &nbsp;&nbsp;
            <button class="btn-success"
              type="submit"
              id="buy"
              style="float:center"
              ng-disabled="!tradePanel.$valid || vm.noMoreGuesses()">
              Submit!
            </button>
            <span ng-show="tradePanel.opt.$touched && tradePanel.opt.$invalid">A choice is required.</span>
            <span ng-show="!tradePanel.amt.$valid">Invalid amount</span>
          </form>
          <button ng-show="vm.userCheck()" ng-click="vm.clearVotes()">Reset Votes</button>
          <h5>Vote Points Remaining: {{vm.guesses}}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default" style='height:200px;'>
          <div class="panel-heading">
            <h4>Description</h4>
          </div>
          <div class="panel-body">
          {{vm.event.desc}}
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="panel panel-default" >
          <div class="panel-heading">
            <h4>Latest Predictions</h4>
          </div>

          <div class="panel-body" style='overflow: auto; height:200px;'>
            <table class="table col-md-3">
              <thead>
                <tr>
                  <th></th>
                  <th>User</th>
                  <th>Choice</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="guess in vm.openGuesses">
                  <th></th>
                <td>{{vm.user.email}}</td>
                <td>{{guess.option}}</td>
                <td>{{guess.amt}}</td>
                </tr>
              </tbody>
            </table>
            <tr></tr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
